body {
    text-align: center;
    /*background-color: #FFFFE5;*/
    background-size: cover;
   /* background-repeat: repeat;*/
    background-image: url("../images/bg.png");
}

.collection-header,
.collection-with-heade {
   /* background-color: #05121B;*/
    color: white;
    text-align: center;
    font-size: 30px;
    padding:20px;
}

.nav-wrapper {
  /*  background-color: #05121B;*/
    color: white;
    text-align: center;
    font-size: 35px;
}

.brand-logo {
    font-size: 20px;
    padding: 20px;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin left: auto;
}

.container {

    font-family: 'Lemon', cursive;
}


 #map {
        height: 400px;
        width: 100%;
       }

.row{
	text-align: center;
}

.active{
	text-align: center;
}

input[type=text]:not(.browser-default),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=text].valid:not(.browser-default)

{
    color:white;
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 0 0 white;
}

.btn:hover,
.btn:focus,
.btn{
    background-color: gray;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color:white;
}


