body {
    text-align: center;
    /*background-color: #FFFFE5;*/
    background-size: cover;
    /* background-repeat: repeat;*/
    background-image: url("../images/bg.png");
}

h1 {
    margin: 20px 0 0 0;
}


.collection-header,
.collection-with-heade,
h1 {
    /* background-color: #05121B;*/
    color: rgba(147, 42, 35, 0.93);
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    padding: 20px;
}

p {
    color: white;
}

.nav-wrapper {
    /*  background-color: #05121B;*/
    color: white;
    text-align: center;
    font-size: 35px;
}

.brand-logo {
    font-size: 20px;
    padding: 20px;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
}

.container {

    font-family: 'Lemon', cursive;
}

.borders {
    background-image: url("https://i.imgur.com/64WG7MPr.jpg");
    background-position: center bottom;
    border: solid 5px black;
    min-height: 780px !important;
}

.borders2 {
    overflow: hidden;
    background-image: url("https://i.imgur.com/64WG7MPr.jpg");
    background-position: right bottom;
    border: solid 5px black;
    min-height: 780px !important;
}

#map {
    height: 400px;
    width: 800px;
    color: black;
    margin: 0 auto;
}


.row {
    text-align: center;
}

.active {
    text-align: center;
}

input[type=text]:not(.browser-default),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=text].valid:not(.browser-default) {
    color: white;
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 0 0 white;
}

.newCharImage {
    margin: 2%;
    padding: 5px;
}



.btn:hover,
.btn:focus,
.btn {
    background-color: gray;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: white;
}

.newChar {
    padding-bottom: 20px;
}


.newCharImg {
    padding: 5px;
}

#ebayImg {
    display: inline-block;
    position: relative;
    width: 4em;
    height: 1em;
}

a {
    color: white;
}

.row .col.s6 {
    left: none;
}




#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    color: black;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

.stores {
    color: white;
    font-family: 'Lemon', cursive;
}

footer {
    background-color: black !important;
    color: white !important;
}



@media screen and (max-width: 640px) {
    .row .col.s6 {
        width: 95%;
    }
    #map {
        width: 95%
    }
}

@media screen and (max-width: 768px) {
    .row .col.s6 {
        width: 95%;
    }

    #map {
        width: 95%
    }
}

@media screen and (max-width:980px) {}