body {
    text-align: center;
    background-color: #FFFFE5;
}

.collection-header,
.collection-with-heade {
    background-color: #26a69a;
    color: white;
    text-align: center;
    font-size: 30px;
}

.nav-wrapper {
    background-color: #26a69a;
    color: white;
    text-align: center;
    font-size: 35px;
}

.brand-logo {
    font-size: 20px;
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    width: 250px;
    height: 250px;
    margin-right: auto;
    margin left: auto;
}

.container {

    font-family: 'Lemon', cursive;
}

.row{
	text-align: center;
}

.active{
	text-align: center;
}